/********************** scss stuff ********************************/
%remove-decoration {
    text-decoration: none;
    color: rgb(99, 97, 97);
    font-size: 1.5em;
}

%remove-decoration:hover {
    color: rgb(129, 127, 127);
    font-size: 1.55em;
}

%remove-decoration-dark {
    text-decoration: none;
    color: #2196F3;
    font-size: 1.5em;
}

%remove-decoration-dark:hover {
    color: rgb(166, 190, 235);
    font-size: 1.55em;
}

%center-text {
    text-align: center;
}

%white-boxes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.342);
}

%center-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

%overall-prototype {
    min-height: 100vh;
    min-width: 100vw;
    background-size: cover;
    display: grid;
    grid-template-columns: 5vw 95vw;
    grid-template-rows: 5vh 95vh;
    grid-template-areas: 
    "navbar navBar"
    "mainContent mainContent"
    ;
    overflow: scroll;
}

%image-scroll-left {
    max-width: 80vw;
    margin-left: 5vw;
    border: 2px solid rgb(160, 159, 159);
    padding: 5px;
    display: flex;
    margin-bottom: 3%;
}

%image-scroll-right {
    max-width: 80vw;
    margin-left: 15vw;
    border: 2px solid rgb(160, 159, 159);
    padding: 5px;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 3%;
}

%buttonsDark {
    width: 10vw;
    height: 5vh;
    margin-bottom: 7%;
    background-color: rgba(160, 159, 159, 0);
    border: 3px solid #2196F3;
    border-radius: 35%;
    color: #2196F3;
}

%buttonsDark:hover {
    box-shadow: 5px 5px 5px #2196F3;
}

%buttons {
    width: 10vw;
    height: 5vh;
    margin-bottom: 7%;
    background-color: rgba(160, 159, 159, 0);
    border: 3px solid rgb(63, 62, 62);
    border-radius: 35%;
    color: rgb(63, 62, 62);
}

%buttons:hover {
    box-shadow: 5px 5px 5px rgb(63, 62, 62);
}

/********************** nav bar ********************************/
.navBar {
    position: fixed;
    top: 1vh;
    left: 1vw;
    display: flex;
    flex-direction: column;
    width: 8vw;
    height: 3vh;
    grid-area: navbar;
    z-index: 1;
}

.navBarDark {
    position: fixed;
    top: 1vh;
    left: 1vw;
    display: flex;
    flex-direction: column;
    width: 8vw;
    height: 3vh;
    grid-area: navbar;
    z-index: 1;
}

.navBarMain {
    position: fixed;
    top: 1vh;
    left: 1vw;
    display: flex;
    flex-direction: column;
    width: 8vw;
    height: 3vh;
    grid-area: navbar;
    z-index: 1;
}

.line {
    background-color: rgb(63, 62, 62);
    height: .6vh;
    width: 2vw;
    margin-bottom: 1.5px;
}

.lineDark {
    background-color: #2196F3;
    height: .6vh;
    width: 2vw;
    margin-bottom: 1.5px;
}

.lineMain {
    background-color: white;
    height: .6vh;
    width: 2vw;
    margin-bottom: 1.5px;
}

.dropdownContent {
    display: none;
}

.dropdownContentDark {
    display: none;
}

.dropdownContentMain {
    display: none;
}

.navBar:hover .dropdownContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    padding: 1%;
}

.navBarDark:hover .dropdownContentDark {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(212, 212, 212);
    padding: 1%;
}

.navBarMain:hover .dropdownContentMain {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 1%;
}

.linkStyle {
    @extend %center-text;
    width: 8vw;
}

.linkStyle:hover {
    background-color: rgb(27, 27, 27);
}

.linkStyleDark {
    @extend %center-text;
    width: 8vw;
}

.linkStyleDark:hover {
    background-color: rgb(255, 255, 255);
}

.links {
    @extend %remove-decoration;
}

.linksMainTwo {
    @extend %remove-decoration-dark;
    color: white;
}

.linksDark {
    @extend %remove-decoration-dark;
}

.linksMain {
    @extend %remove-decoration-dark;
}

/********************** home page ********************************/
html, body {
    margin: 0;
    padding: 0;
    font-family: 'ubuntu';
}

.overallDiv {
    @extend %overall-prototype;
    background-image: url('./aleks-dahlberg-g58DqgOzCcM-unsplash\ \(1\).jpg');
}


.content {
    grid-area: mainContent;
    @extend %center-content;
    justify-content: flex-start;
}

.indexTitle {
    @extend %center-text;
    font-size: 3em;
}

.indexLine {
    background-color: white;
    animation-name: indexLineAnimation;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

/********************** Travel page ********************************/

.overallDivMain {
    @extend %overall-prototype;
    grid-template-areas: 
    "navbar toggleBar"
    "mainContent mainContent"
    ;
    background-color: rgb(248, 247, 247);
    color: rgb(63, 62, 62);
}

.overallDivMainDark {
    @extend %overall-prototype;
    grid-template-areas: 
    "navbar toggleBar"
    "mainContent mainContent"
    ;
    background-color: black;
    color: #2196F3;
}

.contentTravel{
    grid-area: mainContent;
}

.gatsbyImages {
    max-height: 50vh;
    max-width: 20vw;
}

.imageContainer {
    @extend %image-scroll-left;
    margin-bottom: 5%;
    text-align: justify;
}

.imageContainerDark {
    @extend %image-scroll-left;
    margin-bottom: 5%;
    text-align: justify;
}

.imageContainerRight {
    @extend %image-scroll-right;
    margin-top: 2%;
    text-align: justify;
}

.imageContainerRightDark {
    @extend %image-scroll-right;
    margin-top: 2%;
    text-align: justify;
}

.innerContainer {
    min-width: 20vw;
    margin: 1%;
}

.textInsideBox {
    margin: 2%;
}

/********************** contact page ********************************/

.myForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.3em;
}

.inputBars {
    width: 15vw;
    margin-top: 2%;
}

.myTextArea {
    width: 40vw;
    height: 30vh;
    margin-top: 2%;
    margin-bottom: 5%;
}

.contactButton {
    @extend %buttons;
}

.contactButtonDark {
    @extend %buttonsDark;
}

/********************** Toggle Dark Mode page ********************************/
.modeToggle {
    grid-area: toggleBar;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 4vw;
    height: 3vh;
    margin-right: 3%;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 2vh;
    width: 1vw;
    left: 5%;
    bottom: 15%;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(2.5vw);
    -ms-transform: translateX(2.5vw);
    transform: translateX(2.5vw);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  /****************************************** Program Page *************************************************/
  .programText {
      width: 60vw;
      text-align: justify;
    }
    
    .inTextLink {
        text-decoration: none;
        font-size: 1.1em;
        color: rgb(235, 68, 185);
    }

    .inTextLink:hover {
        font-size: 1.2em;
        color: rgb(218, 106, 208);
        text-shadow: 3px 3px 3px grey;
    }
    
  .programLinkBox {
      width: 60vw;
      display: flex;
      flex-direction: column;
      align-items: center;
      border: 2px solid grey;
    }

    .noSpace {
        margin-top: 1%;
        margin-bottom: 1%;
    }

/****************************************** article Pages *************************************************/
.programActualContent {
    text-align: justify;
}

.gatsbyImagesProgram {
    margin: 5% auto 5% ;
    max-height: 50vh;
    max-width: 55vw;
}

.gatsbyImagesProgramOne {
    margin: 5% auto 5% ;
    max-width: 55vw;
}

.spacer {
    min-height: 15vh;
}

  /****************************************** effects *************************************************/

@keyframes indexLineAnimation {
    0% {
        background-color: white;
        transform: translateY(300px);
        height: 2vh;
        width: 2vh;
        border-radius: 50%;
    }
    
    80% {
        background-color: white;
        height: 2vh;
        width: 2vh;
        border-radius: 50%;
    }
    
    99% {
        background-color: rgba(255, 255, 255, 0);
        height: 7vh;
        width: 45vw; 
    }

    100% {
        background-color: black;
        font-size: 3em;
        color: white;
    }

}