/********************** scss stuff ********************************/
%remove-decoration {
    text-decoration: none;
    color: rgb(99, 97, 97);
    font-size: 1.5em;
}

%remove-decoration:hover {
    color: rgb(129, 127, 127);
    font-size: 1.55em;
}

%remove-decoration-dark {
    text-decoration: none;
    color: #2196F3;
    font-size: 1.5em;
}

%remove-decoration-dark:hover {
    color: rgb(166, 190, 235);
    font-size: 1.55em;
}

%center-text {
    text-align: center;
}

%white-boxes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.342);
}

%center-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

%overall-prototype {
    height: 100vh;
    width: 100vw;
    background-size: cover;
    display: grid;
    grid-template-columns: 5vw 95vw;
    grid-template-rows: 5vh 95vh;
    grid-template-areas: 
    "navbar navBar"
    "mainContent mainContent"
    ;
    overflow-x: hidden;
}

%image-scroll-left {
    max-width: 80vw;
    margin-left: 5vw;
    border: 2px solid rgb(160, 159, 159);
    padding: 5px;
    display: flex;
    margin-bottom: 3%;
}

%image-scroll-right {
    max-width: 80vw;
    margin-left: 15vw;
    border: 2px solid rgb(160, 159, 159);
    padding: 5px;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 3%;
}

%buttonsDark {
    width: 10vw;
    height: 5vh;
    margin-bottom: 7%;
    background-color: rgba(160, 159, 159, 0);
    border: 3px solid #2196F3;
    border-radius: 35%;
    color: #2196F3;
}

%buttonsDark:hover {
    box-shadow: 5px 5px 5px #2196F3;
}

%buttons {
    width: 10vw;
    height: 5vh;
    margin-bottom: 7%;
    background-color: rgba(160, 159, 159, 0);
    border: 3px solid rgb(63, 62, 62);
    border-radius: 35%;
    color: rgb(63, 62, 62);
}

%buttons:hover {
    box-shadow: 5px 5px 5px rgb(63, 62, 62);
}

/********************** nav bar ********************************/
.navBar {
    position: fixed;
    top: 1vh;
    left: 1vw;
    display: flex;
    flex-direction: column;
    width: 8vw;
    height: 3vh;
    grid-area: navbar;
    z-index: 1;
}

.navBarDark {
    position: fixed;
    top: 1vh;
    left: 1vw;
    display: flex;
    flex-direction: column;
    width: 8vw;
    height: 3vh;
    grid-area: navbar;
    z-index: 1;
}

.navBarMain {
    position: fixed;
    top: 1vh;
    left: 1vw;
    display: flex;
    flex-direction: column;
    width: 8vw;
    height: 3vh;
    grid-area: navbar;
    z-index: 1;
}

.line {
    background-color: rgb(63, 62, 62);
    height: .4vh;
    width: 3vw;
    margin-bottom: .3vh;
    padding-bottom: .3vh;
}

.lineDark {
    background-color: #2196F3;
    height: .4vh;
    width: 3vw;
    margin-bottom: .3vh;
    padding-bottom: .3vh;
}

.lineMain {
    background-color: white;
    height: .4vh;
    width: 3vw;
    margin-bottom: .3vh;
    padding-bottom: .3vh;
}

.dropdownContent {
    display: none;
}

.dropdownContentDark {
    display: none;
}

.dropdownContentMain {
    display: none;
}

.navBar:hover .dropdownContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    padding: 1%;
}

.navBarDark:hover .dropdownContentDark {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(212, 212, 212);
    padding: 1%;
}

.navBarMain:hover .dropdownContentMain {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 1%;
}

.linkStyle {
    @extend %center-text;
    width: 8vw;
}

.linkStyle:hover {
    background-color: rgb(27, 27, 27);
}

.linkStyleDark {
    @extend %center-text;
    width: 8vw;
}

.linkStyleDark:hover {
    background-color: rgb(255, 255, 255);
}

.links {
    @extend %remove-decoration;
}

.linksMainTwo {
    @extend %remove-decoration-dark;
    color: white;
}

.linksDark {
    @extend %remove-decoration-dark;
}

.linksMain {
    @extend %remove-decoration-dark;
}

/********************** home page ********************************/
html, body {
    margin: 0;
    padding: 0;
    font-family: 'ubuntu';
    overflow-x: hidden;
}

.overallDiv {
    @extend %overall-prototype;
    background-image: url('./aleks-dahlberg-g58DqgOzCcM-unsplash\ \(1\).jpg');
    overflow-x: hidden;
}


.content {
    grid-area: mainContent;
    @extend %center-content;
    justify-content: flex-start;
    overflow-x: hidden;
}

.indexTitle {
    @extend %center-text;
    font-size: 3em;
}

.indexLine {
    background-color: white;
    animation-name: indexLineAnimation;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

/********************** Travel page ********************************/

.overallDivMain {
    @extend %overall-prototype;
    grid-template-areas: 
    "navbar toggleBar"
    "mainContent mainContent"
    ;
    background-color: rgb(248, 247, 247);
    color: rgb(63, 62, 62);
    ::-webkit-scrollbar {
        -webkit-appearance: none;
        width: 7px;
      }
    
    ::-webkit-scrollbar-thumb {
        border-radius: 4px;
        background-color: #3F3E3E;
        box-shadow: 0 0 1px #3F3E3E;
        -webkit-box-shadow: 0 0 1px #3F3E3E;
    }
    
}

.overallDivMainDark {
    @extend %overall-prototype;
    grid-template-areas: 
    "navbar toggleBar"
    "mainContent mainContent"
    ;
    background-color: black;
    color: #2196F3;
    ::-webkit-scrollbar {
        -webkit-appearance: none;
        width: 7px;
      }
    
    ::-webkit-scrollbar-thumb {
        border-radius: 4px;
        background-color: #2196F3;
        box-shadow: 0 0 1px #2196F3;
        -webkit-box-shadow: 0 0 1px #2196F3;
    }
}

.contentTravel{
    grid-area: mainContent;
    overflow-x: hidden;
}

.gatsbyImages {
    max-height: 50vh;
    min-width: 19vw;
    max-width: 20vw;
}

.imageContainer {
    @extend %image-scroll-left;
    margin-bottom: 5%;
    text-align: justify;
}

.imageContainerDark {
    @extend %image-scroll-left;
    margin-bottom: 5%;
    text-align: justify;
}

.imageContainerRight {
    @extend %image-scroll-right;
    margin-top: 2%;
    text-align: justify;
}

.imageContainerRightDark {
    @extend %image-scroll-right;
    margin-top: 2%;
    text-align: justify;
}

.innerContainer {
    width: 20vw;
    margin: 1%;
}

.textInsideBox {
    margin: 2%;
}

/********************** contact page ********************************/

.myForm {
    margin-left: 5vw;
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-size: 1.3em;
}

.inputBars {
    width: 20vw;
    height: 3vh;
    margin-top: .5vh;
    margin-bottom: 2vh;
    border-radius: .35rem;
    border: 3px solid #2196F3;
}

.inputBars:hover {
    border: 3.5px solid rgb(97, 176, 240);
}

.contentContact{
    width: 100vw;
    height: 100vh;
    background-image: url('./contactBack.jpg');
    background-size: cover;
    color: white;
}

.contact {
    grid-area: mainContent;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.733);
}

.indexTitleContact {
    @extend %center-text;
    padding-top: 2vh;
    margin: 0;
    font-size: 3em;
} 

.labels {
    color: white;
}

.myTextArea {
    width: 40vw;
    height: 30vh;
    margin-top: .5vh;
    margin-bottom: 5%;
    border-radius: .35rem;
    border: 3px solid #2196F3;
}

.myTextArea:hover {
    border: 3.5px solid rgb(97, 176, 240);
}

.contactButton {
    width: 15vw;
    height: 5vh;
    font-size: 1.3em;
    border-radius: .35rem;
    background-color: #2196F3;
    color: rgb(255, 255, 255);
    border: none;
}

.contactButton:hover {
    transform: translateY(-.15rem);
    -ms-transform: translateY(-.15rem);
    -webkit-transform: translateY(-.15rem);
    background-color: rgb(97, 176, 240);
}

/********************** Toggle Dark Mode page ********************************/
.modeToggle {
    grid-area: toggleBar;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 4vw;
    height: 3vh;
    margin-right: 3%;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 2vh;
    width: 1vw;
    left: 5%;
    bottom: 15%;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(2.5vw);
    -ms-transform: translateX(2.5vw);
    transform: translateX(2.5vw);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  /****************************************** Program Page *************************************************/
  .programText {
      width: 60vw;
      text-align: justify;
    }
    
    .inTextLink {
        text-decoration: none;
        font-size: 1.1em;
        color: rgb(235, 68, 185);
    }

    .inTextLink:hover {
        font-size: 1.2em;
        color: rgb(218, 106, 208);
        text-shadow: 3px 3px 3px grey;
    }
    
  .programLinkBox {
      width: 60vw;
      display: flex;
      flex-direction: column;
      align-items: center;
      border: 2px solid grey;
    }

    .noSpace {
        margin-top: 1%;
        margin-bottom: 1%;
    }

/****************************************** article Pages *************************************************/
.programActualContent {
    text-align: justify;
}

.gatsbyImagesProgram {
    margin: 5% auto 5% ;
    max-height: 50vh;
    max-width: 55vw;
}

.gatsbyImagesProgramOne {
    margin: 5% auto 5% ;
    max-width: 55vw;
}

.spacer {
    height: 15vh;
}

  /****************************************** effects *************************************************/
  
  @keyframes indexLineAnimation {
      0% {
          background-color: rgb(255, 255, 255);
          -webkit-transform: translateY(300px);
          -ms-transform: translateY(300px);
          transform: translateY(300px);
          height: 2vh;
          width: 2vh;
          border-radius: 50%;
        }
        
        80% {
            background-color: rgb(255, 255, 255);
            height: 2vh;
            width: 2vh;
            border-radius: 50%;
        }
        
        99% {
            background-color: rgba(255, 255, 255, 0);
            height: 7vh;
            width: 45vw; 
        }
        
        100% {
            background-color: black;
            font-size: 3em;
            color: rgb(255, 255, 255);
        }
        
    }

    @media only screen and (max-width: 1350px) {

        .navBar:hover .dropdownContent {
            width: 12vw;
            min-height: 14vh;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            background-color: black;
            padding-top: 2vh;
            padding-bottom: 1vh;
        }
        
        .navBarDark:hover .dropdownContentDark {
            width: 12vw;
            min-height: 14vh;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            background-color: rgb(212, 212, 212);
            padding-top: 2vh;
            padding-bottom: 1vh;
        }
        
        .navBarMain:hover .dropdownContentMain {
            width: 12vw;
            min-height: 14vh;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            background-color: white;
            padding-top: 2vh;
            padding-bottom: 1vh;
        }
        .gatsbyImages {
            max-height: 50vh;
            min-width: 29vw;
        }

        .lineDark {
            width: 4vw;
            margin-bottom: 4px;
            padding-bottom: .3vh;
        }
    
        .line {
            width: 4vw;
            margin-bottom: 4px;
            padding-bottom: .3vh;
        }
    
        .lineMain {
            width: 4vw;
            margin-bottom: 4px;
            padding-bottom: .3vh;
        }

        h2 {
            font-size: 1.3em;
        }

        .textInsideBox {
            width: 40vw;
            margin-left: 10vw;
        }

        .imageContainer {
            justify-content: space-evenly;

        }
    
        .imageContainerDark {
            justify-content: space-evenly;
        }

        .imageContainerRight {
            justify-content: space-evenly;
            padding-right: 13vw;
            padding-left: 0;
            margin-left: 10vw;
            margin-right: 2vw;
        }
    
        .imageContainerRightDark {
            justify-content: space-evenly;
            padding-right: 13vw;
            padding-left: 0;
            margin-left: 10vw;
            margin-right: 2vw;
        }

            /* The switch - the box around the slider */
        .switch {
            width: 5vw;
            height: 3vh;
            margin-right: 1%;
        }
        
        /* Hide default HTML checkbox */
        .switch input {
            opacity: 0;
            width: 0;
            height: 0;
        }
        
        
        .slider:before {
            height: 2vh;
            width: 1.2vw;
            left: 10%;
            bottom: 15%;
        }
        
        input:checked + .slider:before {
            -webkit-transform: translateX(3vw);
            -ms-transform: translateX(3vw);
            transform: translateX(3vw);
        }

    }

    @media only screen and (max-width: 950px) {
        .gatsbyImages {
            min-height: 40vh;
            min-width: 30vw;
        }

        .linksMainTwo {
            font-size: 1.1em;
        }

    }

    /****************************************** mobile *************************************************/
@media only screen and (max-width: 600px) {
    html, body {
        padding: 0;
        margin: 0;
        font-size: 90%;
    }

    .contentTravel {
        padding-bottom: 10vh;
    }

    .navBar:hover .dropdownContent {
        width: 25vw;
        min-height: 11vh;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        background-color: black;
        padding-top: 2vh;
        padding-bottom: 1vh;
    }
    
    .navBarDark:hover .dropdownContentDark {
        width: 25vw;
        min-height: 11vh;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        background-color: rgb(212, 212, 212);
        padding-top: 2vh;
        padding-bottom: 1vh;
    }
    
    .navBarMain:hover .dropdownContentMain {
        width: 25vw;
        min-height: 11vh;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        background-color: white;
        padding-top: 2vh;
        padding-bottom: 1vh;
    }

    .inputBars {
        width: 45vw;
    }

    .myTextArea {
        width: 60vw;
    }

    .lineDark {
        width: 10vw;
        height: .2vh;
    }

    .line {
        width: 10vw;
        height: .2vh;
    }

    .lineMain {
        width: 10vw;
        height: .2vh;
    }

    .indexLine {
        margin-top: 10vh;
    }

    /* The switch - the box around the slider */
    .switch {
        width: 15vw;
        height: 3vh;
        margin-right: 1%;
    }
    
    /* Hide default HTML checkbox */
    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }
    
    
    .slider:before {
        height: 2.1vh;
        width: 5vw;
        left: 10%;
        bottom: 15%;
    }
    
    input:checked + .slider:before {
        -webkit-transform: translateX(7vw);
        -ms-transform: translateX(7vw);
        transform: translateX(7vw);
    }

    h2 {
        font-size: 1em;
    }

    .linksMainTwo {
        font-size: .8em;
    }

    .gatsbyImages {
        min-height: 15vh;
        min-width: 30vw;
        margin-top: 2vh;
    }

    .textInsideBox {
        width: 40vw;
        margin-left: 10vw;
    }

    .imageContainer {
        justify-content: space-evenly;
    }

    .imageContainerDark {
        justify-content: space-evenly;
    }

    .imageContainerRight {
        justify-content: space-evenly;
        padding-right: 13vw;
        padding-left: 0;
        margin-left: 10vw;
        margin-right: 2vw;
    }

    .imageContainerRightDark {
        justify-content: space-evenly;
        padding-right: 13vw;
        padding-left: 0;
        margin-left: 10vw;
        margin-right: 2vw;
    }

    .contactButton {
        width: 25vw;
    }
}